* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hmtl {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* BODY */

.body {
  width: 80%;
  margin: 0 auto;
}

.contain-film {}

input {
  border-radius: 5px;
}

.text__title-body {
  color: rgba(160, 156, 156, 0.867);
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.text__title-body::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: red;
}

.poster {
  width: 100px;
  height: 100px;
}

img.list-film {
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 5px 5px #ccc);
  border-radius: 10px;
  object-fit: cover;
}

.movie-items {}

.title {
  opacity: 0.5;
  font-size: 1.125rem;
  border-bottom: 1px solid #a5a2a2cc;
}

.book-date,
.book-time,
.price-today,
.choose-seat {
  padding-bottom: 10px;
}

.book-date>p,
.book-time>p {
  padding: 0;
  color: #a5a2a2cc;
}

.film-name {
  margin: 15px 0;
  color: red;
}

.film-content {
  opacity: 0.75;
}

.book-date.row {
  gap: 10px;
}

.display {
  text-align: center;
  padding: 8px 0;
  border: 1px solid #cccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.display__day {
  font-size: 0.75rem;
}

.book-time {
  margin: 10px 0;
  gap: 10px;
}

.display__time {
  text-align: center;
  border: 1px solid #cccc;
  border-radius: 10px;
  padding: 8px 0;
  cursor: pointer;
  box-shadow: 5px 5px 5px #ccc;
}

.display__time.fade {
  opacity: 0.5;
  cursor: not-allowed;
  user-select: none;
}

.price-today {}

.price-today .no-sales {
  opacity: 0.75;
}

.price-today .sales {
  color: red;
}

.room-close {
  color: #ffff;
  text-align: right;
  margin: 10px 20px;
}

.close-choosing {
  font-size: 1.5rem;
  padding: 10px 15px;
  cursor: pointer;
}

.close-choosing:hover {
  color: #000;
  background-color: grey;
  border-radius: 50%;
}

.choose-seat {}

.seat-cinema {}

span.class {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 5px 0;
  text-shadow: 0 0 5px #fff, 0 0 5px #33eb61;
}

button.form-seat {
  padding: 5px 15px;
  border-radius: 5px;
  color: #ffff;
  background-color: #303030;
  border: none;
  filter: drop-shadow(5px 5px 5px #ccc);
}

button.form-seat:hover {
  background-color: #33eb61;
}

.theater {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.screen {
  position: relative;
  background-color: grey;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 10px 0;
  margin-bottom: 80px;
}

.screen::before {
  content: "Lối ra";
  position: absolute;
  left: 0;
  bottom: -110%;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  border: 2px solid #0bc90b;
  border-inline: none;
  box-shadow: 0 0 5px #fff;
}

.screen::after {
  content: "Lối vào";
  position: absolute;
  bottom: -110%;
  right: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  border: 2px solid #0bc90b;
  border-inline: none;
  box-shadow: 0 0 5px #fff;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b60327;
  color: #fff;
  font-weight: 700;
  width: 25px;
  height: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-inline: 5px solid #81031c83;
  margin-right: 5px;
}

.seat:hover {
  cursor: pointer;
}

.seat__left-item.row,
.seat__middle-item.row,
.seat__right-item.row {
  justify-content: center;
}

.room {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  z-index: 10;
  background-color: #000;
  display: none;
}

.glossary {
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 150px;
  margin: 20px 0;
}

.chose {
  position: relative;
}

.chose::before {
  content: "";
  position: absolute;
  left: -50%;
  width: 40px;
  height: 20px;
  background-color: orange;
}

.choosing {
  position: relative;
}

.choosing::before {
  content: "";
  position: absolute;
  left: -50%;
  width: 40px;
  height: 20px;
  background-color: #0bc90b;
}

.done {
  position: absolute;
  right: 0;
  top: 50%;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #0bc90b;
  box-shadow: 0 0 5px #fff, 0 0 5px #0bc90b;
}

.done:hover {
  background-color: #ccc;
  cursor: pointer;
}

.payment {
  margin-bottom: 30px;
}

.id-card.row {
  gap: 10px;
  display: none;
  padding: 10px 0 10px 10px;
}

.id-card__front,
.id-card__behind {
  position: relative;
  height: 150px;
  background-color: gray;
  color: #fff;
  border-radius: 5px;
}

.id-card__front label,
.id-card__behind label {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

input[type="file"] {
  display: none;
}

.id-card__front img,
.id-card__behind img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 5;
}

.payment-tickets {
  text-align: center;
}

.payment-tickets>div,
.payment-tickets>img {
  padding-bottom: 10px;
  filter: drop-shadow(5px 5px 5px #ccc);
}

.payment-tickets>div:nth-child(odd) {
  color: #ff0000;
}

.payment-film___name {}

.payment-time {}

.payment-seat {}

.payment-img {
  width: 300px;
  height: 250px;
}

.payment-sale {
  margin: 10px 0;
}

.payment-sale>input {
  margin-right: 10px;
}

img.bank {
  width: 100px;
  height: 50px;
  object-fit: scale-down;
  padding: 10px;
  border-radius: 5px;
}

.payment-info {
  border-left: 2px solid #ff0000;
}

.payment-info form {
  padding-left: 15px;
}

.payment-info__bank input[type="radio"] {
  display: none;
}

.payment-info__bank>label {
  margin-top: 5px;
  /* margin-bottom: 10px; */
}

label:hover>img.bank {
  border: 2px solid #000;
}

.payment-info__customer>label,
.payment-info__email>label,
.payment-info__phone>label {
  width: 150px;
  margin-bottom: 10px;
}

input {
  border: 1px solid #aebdca;
}

input[type="text"] {
  padding: 5px 10px;
}

input:focus {
  outline: 1px solid red;
}

button.payment-done {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

/* Footer */

.footer {
  background-color: #000;
  max-width: 1920px;
  overflow-x: hidden;
  color: #cccc;
  margin: auto;
}

.contain-about.row {
  padding: 20px;
}

.text-title {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.text-title::before {
  content: "";
  position: absolute;
  left: -10px;
  height: 100%;
  width: 3px;
  background-color: red;
}

.text-title {
  color: #ddd;
}

ul.title__list {
  padding-left: 0;
}

li.title__list-items {
  list-style: none;
}

ul>a.link-genre {
  text-decoration: none;
  color: #cccc;
}

ul>a.link-genre:hover {
  color: red;
}

.right-icon {
  margin-right: 5px;
}

.fb-icon,
.ytb-icon,
.insta-icon,
.twi-icon {
  font-size: 30px;

  margin-right: 5px;
}

.fb-icon:hover {
  color: #0066cc;
}

.insta-icon:hover {
  color: #ff9933;
}

.twi-icon:hover {
  color: #0099cc;
}

.ytb-icon:hover {
  color: #ff0033;
}

/* Handle */

.room.open {
  display: block;
}

.display.check,
.display__time.check,
img.bank.check {
  outline: 2px solid red;
}

.seat.check {
  background-color: #0bc90b;
}

.seat.chosen {
  pointer-events: none;
  background-color: orange;
}