/* @include media-breakpoint-up(xs) {
  .header_left {
    display: none;
  } */

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 75em) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 62em) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 48em) {
  .body_content_film_nav_option {
    font-size: 1rem;
    margin-right: 15px;
  }
}